@import url('https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: white;
  background: #181818;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  html {
    font-family: "Aleo", system-ui, sans-serif;
  }
}

/* html, body{
  overflow-x: hidden;
  } */

/* Subpage theming */

/* colors: {
  background: '#181818',
  experiences: '#297476',
  'experiences-dark': '#194647',
  education: '#5E2B5F',
  'education-dark': '#351D35',
  projects: '#2C5E40',
  'projects-dark': '#213D2C',
  skills: '#A83737',
  'skills-dark': '#5F2727',
  contact: '#A87B37',
  'contact-dark': '#69502A'
}, */

:root{
  --color-primary: #297476;
  --color-secondary: #194647;
}

[data-theme="experiences"] {
  --color-primary: #297476;
  --color-secondary: #194647;
  --color-titles: #37AAAD;
}

[data-theme="education"] {
  --color-primary: #783679;
  --color-secondary: #351D35;
  --color-titles: #a23dc6;
}

[data-theme="projects"] {
  --color-primary: #2C5E40;
  --color-secondary: #213D2C;
  --color-titles: #428A5F;
}

[data-theme="skills"] {
  --color-primary: #A83737;
  --color-secondary: #5F2727;
  --color-titles: #A83737;
}

[data-theme="contact"] {
  --color-primary: #A87B37;
  --color-secondary: #69502A;
  --color-titles: #A87B37;
}



.slick-prev::before{
  color: var(--color-primary)!important;
}

.slick-next::before{
  color: var(--color-primary)!important;
}

.img-drop-shadow{
  filter: drop-shadow(0px 0px 7px #000);
}


#header-fade{
  background: linear-gradient(180deg, #181818, #18181800);
}

.certificate_in_box:hover .certificate{
  clip-path: inset(0 0 0% 0);
  transition: clip-path 0.5s;
}

.certificate_in_box:hover .skill-note{
  display: none;
}